.linea {
  border-top: 15px solid #67E47D;
  height: 25px;
  padding: 0;
  margin: 55px auto 0 auto;
}
.linea1 {
  border-top: 15px solid #67E47D;
  height: 15px;
  padding: 0;
  margin: 0px auto 0 auto;
}